<section class="block container">
  <block class="block__header">
    <h2 class="block__heading">Heading hi</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi,
      asperiores!
    </p>
  </block>
  <div style="width: 30%; padding: 4rem">
    <div class="card card__secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-right">
  <div class="container">
    <h2 class="block__heading">Heading hi</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi,
      asperiores!
    </p>
  </div>
</section>
<script src="js/main.js"></script>
