<input type="text" class="input" placeholder="lake house of your dreams" />


/* Input with button */

<div class="input-group">
    <input type="text" class="input" placeholder="lake house of your dreams"/>
  <button class="btn btn--accent">Search</button>
</div>


/* Input with icon and button */
<div class="input-group">
    <span class="icon-container">
    </svg><svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#computer"></use>
    </span>
    <input type="text" class="input" placeholder="lake house of your dreams"/>
  <button class="btn btn--accent">Search</button>
  
</div>