<blockquote class="quote">
    <p class="quote__text">
      You're going to have more water time after you get this job. I know
      learning is hard but girl suck it up!
    </p>
    <footer>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary quote__line">
            <use xlink:href="images/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title quote__author">Blake Lively</h3>
          <p class="quote__company">Hawaii Trading Co</p>
        </div>
      </div>
    </footer>
  </blockquote>




  <div class="callout callout--primary">
    <div class="grid grid--1x2">
      <div class="callout__">
        <h2>Ready to Get Started?</h2>
   <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae error illum, ipsa accusantium quaerat provident voluptate, nihil possimus officia culpa harum expedita sequi dolorem nesciunt doloribus placeat eos nemo architecto.
   Excepturi cumque, neque optio atque repellendus nemo doloremque corrupti impedit fuga molestiae quibusdam illum tempore officia deserunt suscipit? Sint eaque, provident ad maxime facere veniam quos impedit! Rem, error in.
   Accusantium consectetur praesentium vitae, enim ipsa cum perferendis, sequi illum sed cupiditate quo. Voluptatibus eaque labore quam officia sit ullam fuga. Fugiat, labore non magni dolores soluta blanditiis ex numquam!
   Labore s voluptatum, hic fugiat molestias magnam vel, autem excepturi adipisci ipsa aliquam optio? Numquam ipsum pariatur, facere aspernatur corrupti id nam?</p>
   </div>