<section class="block block--dark block--skewed-right block-showcase">
  <header>
    <h2 class="block__heading">User-friendly Control Panel</h2>
  </header>
  <div class="container grid grid--1x2">
    <picture class="block-showcase__image">
      <source
        srcset="images/ipad.web"
        type="image/webp 1x, images/ipad@2x.webp 2x"
      />
      <source
        srcset="images/ipad.png"
        type="image/png 1x, images/ipad@2x.png 2x"
      />
      <img src="images/ipad.png" alt="" />
    </picture>
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#easy"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updated</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
              corrupti animi quisquam dicta alias fugiat dignissimos nostrum aut
              expedita.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#easy"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Staging, GIT & WP-CLI</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
              corrupti animi quisquam dicta alias fugiat dignissimos nostrum aut
              expedita.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#easy"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Dynamic Caching & More</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
              corrupti animi quisquam dicta alias fugiat dignissimos nostrum aut
              expedita.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
